/* Título del formulario con tamaño grande */
.form-title {
    font-size: 2rem;
}

/* Contenedor de los campos del formulario con margen y espaciado */
.form-inputs {
    margin: 2rem 0 1.5rem; 
    display: grid;         
    gap: 1.5rem;           
    color: #3a2525;        
}

/* Campo de entrada de texto (input) con diseño moderno */
.form-input {
    grid-area: input;            
    width: 100%;                 
    border-radius: 10px;          
    border: 1px solid #774040;  
    padding: .9rem 1.5rem;        
}

/* Botón de envío del formulario */
.form-submit {     
    border-radius: 10px;          
    background-color: rgb(115, 58, 58);   
    padding: .9rem 2.5rem;       
    color: rgb(255, 242, 242);                 
    font-size: 17px;              
}

.error-text {
    color: red;
    font-size: 0.8rem;
    margin-top: 2px;
    display: none;
}

.form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-input.invalid {
    border: 1px solid red;
}

.form-label span {
    margin-bottom: 5px;
    font-weight: bold;
}